<!DOCTYPE html>
<html>
  <head>
    <title>Simple App du Tutoriel Ruby on Rails | <%= @titre %></title>
  </head>
  <body>
    <h1><%= @titre %></h1>

    <p>Hello world, page about</p>
  </body>
</html>